<!-- HERO BANNER -->
<div class="hero-banner">
  <%= image_tag "banner.jpg", alt: "Banner" %>

  <div class="hero-overlay">
    <!-- Navigation -->
    <div class="hero-nav">
      <%= link_to "Home", url_for(:root), class: ("nav-link #{current_page?(root_path) ? 'active' : ''}") %>
      <%= link_to "Services", url_for(:services), class: ("nav-link #{current_page?(services_path) ? 'active' : ''}") %>
      <%= link_to "Portfolio", url_for(:portfolio), class: ("nav-link #{current_page?(portfolio_path) ? 'active' : ''}") %>
     <%= link_to "Consultation", join_us_path, class: ("nav-link #{current_page?(join_us_path) ? 'active' : ''}") %>
    </div>

    <!-- Centered Text -->
    <div class="hero-text" data-aos="fade-left">
      <h1>OUR WORK.</h1>
      <p>WEBSITE CREATION.</p>
    </div>
  </div>
</div>

<!-- MARKET GALLERY -->
<section class="market-gallery">
  <div class="market-gallery__header" data-aos="fade-right">
    <h2>Discover Our<br>Projects</h2>
  </div>

    <div class="three-card-row">
      <!-- Card 1: Share-a-meal -->
      <div class="gallery-card" data-aos="fade-right" data-aos-delay="200">
        <figure class="wp-caption">
          <%= link_to image_tag("shareameal_logo.png", alt: "Share-a-meal", class: "gallery-img"), "https://www.shareameal.me/", target: "_blank", rel: "noopener" %>
          <figcaption class="wp-caption-text">Share-a-meal</figcaption>
        </figure>
      </div>

      <!-- Card 2: Semper (Middle Card - From Top to Bottom) -->
      <div class="gallery-card middle-card taller-card" data-aos="fade-right" data-aos-delay="300">
        <figure class="wp-caption">
          <%= link_to image_tag("semper.png", alt: "Semper", class: "gallery-img"), "https://semper.ca/", target: "_blank", rel: "noopener" %>
          <figcaption class="wp-caption-text">Semper</figcaption>
        </figure>
      </div>

      <!-- Card 3: Mangalatina -->
      <div class="gallery-card" data-aos="fade-right" data-aos-delay="400">
        <figure class="wp-caption">
          <%= link_to image_tag("mangalatina.png", alt: "Mangalatina", class: "gallery-img"), "https://www.mangalatina.com/", target: "_blank", rel: "noopener" %>
          <figcaption class="wp-caption-text">Mangalatina</figcaption>
        </figure>
      </div>
</div>

</section>

<footer class="footer">
  <div class="footer-left">
    <a href="<%= root_path %>">Home</a>
    <a href="<%= services_path %>">Services</a>
    <a href="<%= portfolio_path %>">Portfolio</a>
    <a href="<%= join_us_path %>">Consultation</a>
  </div>

    <div class="center-content">
      <a href="https://www.facebook.com/profile.php?id=61578411996415" target="_blank" class="facebook-link">
        <i class="fa-brands fa-facebook facebook-icon"></i>
      </a>
      <span>Copyright © 2025 NovaMedia Studio</span>
    </div>

  <div class="footer-right">
    <span>Powered by NovaMedia Studio</span>
  </div>
</footer>
